/* Write your CSS here */
.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.image {
  width: 20%;
}

.heading {
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: bold;
  color: #171f46;
}

.dark-card-container {
  background-color: #000000;
}

.dark-heading {
  color: white;
}

.description {
  color: #171f46;
  font-size: 25px;
  font-family: 'Roboto';
}
.dark-description {
  color: white;
}

@media screen and (max-width: 768px) {
  .image {
    width: 35%;
  }
  .description {
    font-size: 18px;
  }
  .heading {
    font-size: 25px;
  }
}
